In [2]:
import pandas as pd

Read CSV File

In [3]:
df=pd.read_csv("adult.data.csv")

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [41]:
race_count=df["race"].value_counts()

In [42]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Average age of men

In [6]:
average_age_men=df[df["sex"]=="Male"]["age"].mean()

In [8]:
average_age_men

39.43354749885268

Percentage of people who have a Bachelor's Degree

In [9]:
percentage_bachelors=(len(df[df["education"]=="Bachelors"])/len(df))*100

In [10]:
percentage_bachelors

16.44605509658794

Percentage of people with Advanced Education (Bachelors, Masters, or Doctorate) and who make more than 50K

In [11]:
educated_groups=[df[df["education"]=="Bachelors"],df[df["education"]=="Masters"],df[df["education"]=="Docatrate"]]

In [12]:
educated_groups

[       age         workclass  fnlwgt  education  education-num  \
 0       39         State-gov   77516  Bachelors             13
 1       50  Self-emp-not-inc   83311  Bachelors             13
 4       28           Private  338409  Bachelors             13
 9       42           Private  159449  Bachelors             13
 11      30         State-gov  141297  Bachelors             13
 ...    ...               ...     ...        ...            ...
 32530   35                 ?  320084  Bachelors             13
 32531   30                 ?   33811  Bachelors             13
 32533   54           Private  337992  Bachelors             13
 32536   34           Private  160216  Bachelors             13
 32538   38           Private  139180  Bachelors             13

            marital-status       occupation   relationship                race  \
 0           Never-married     Adm-clerical  Not-in-family               White
 1      Married-civ-spouse  Exec-managerial        Husband               White
 4      Married-civ-spouse   Prof-specialty           Wife               Black
 9      Married-civ-spouse  Exec-managerial        Husband               White
 11     Married-civ-spouse   Prof-specialty        Husband  Asian-Pac-Islander
 ...                   ...              ...            ...                 ...
 32530  Married-civ-spouse                ?           Wife               White
 32531       Never-married                ?  Not-in-family  Asian-Pac-Islander
 32533  Married-civ-spouse  Exec-managerial        Husband  Asian-Pac-Islander
 32536       Never-married  Exec-managerial  Not-in-family               White
 32538            Divorced   Prof-specialty      Unmarried               Black

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 0        Male          2174             0              40  United-States
 1        Male             0             0              13  United-States
 4      Female             0             0              40           Cuba
 9        Male          5178             0              40  United-States
 11       Male             0             0              40          India
 ...       ...           ...           ...             ...            ...
 32530  Female             0             0              55  United-States
 32531  Female             0             0              99  United-States
 32533    Male             0             0              50          Japan
 32536  Female             0             0              55  United-States
 32538  Female         15020             0              45  United-States

       salary
 0      <=50K
 1      <=50K
 4      <=50K
 9       >50K
 11      >50K
 ...      ...
 32530   >50K
 32531  <=50K
 32533   >50K
 32536   >50K
 32538   >50K

 [5355 rows x 15 columns],
        age         workclass  fnlwgt education  education-num  \
 5       37           Private  284582   Masters             14
 8       31           Private   45781   Masters             14
 19      43  Self-emp-not-inc  292175   Masters             14
 47      44           Private  128354   Masters             14
 87      33           Private  202051   Masters             14
 ...    ...               ...     ...       ...            ...
 32504   50           Private  208630   Masters             14
 32513   46           Private   42972   Masters             14
 32544   31           Private  199655   Masters             14
 32553   32           Private  116138   Masters             14
 32554   53           Private  321865   Masters             14

            marital-status       occupation   relationship                race  \
 5      Married-civ-spouse  Exec-managerial           Wife               White
 8           Never-married   Prof-specialty  Not-in-family               White
 19               Divorced  Exec-managerial      Unmarried               White
 47               Divorced  Exec-managerial      Unmarried               White
 87     Married-civ-spouse   Prof-specialty        Husband               White
 ...                   ...              ...            ...                 ...
 32504            Divorced            Sales  Not-in-family               White
 32513  Married-civ-spouse   Prof-specialty           Wife               White
 32544            Divorced    Other-service  Not-in-family               Other
 32553       Never-married     Tech-support  Not-in-family  Asian-Pac-Islander
 32554  Married-civ-spouse  Exec-managerial        Husband               White

           sex  capital-gain  capital-loss  hours-per-week native-country  \
 5      Female             0             0              40  United-States
 8      Female         14084             0              50  United-States
 19     Female             0             0              45  United-States
 47     Female             0             0              40  United-States
 87       Male             0             0              50  United-States
 ...       ...           ...           ...             ...            ...
 32504  Female             0             0              50  United-States
 32513  Female             0             0              22  United-States
 32544  Female             0             0              30  United-States
 32553    Male             0             0              11         Taiwan
 32554    Male             0             0              40  United-States

       salary
 5      <=50K
 8       >50K
 19      >50K
 47     <=50K
 87     <=50K
 ...      ...
 32504   >50K
 32513   >50K
 32544  <=50K
 32553  <=50K
 32554   >50K

 [1723 rows x 15 columns],
 Empty DataFrame
 Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
 Index: []]

In [13]:
educated_groups=pd.concat(educated_groups)

In [14]:
educated_groups

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [15]:
higher_education_rich=(len(educated_groups[educated_groups["salary"]==">50K"])/len(educated_groups))*100

In [16]:
round(higher_education_rich,1)

44.9

Percentage of people without Advanced Aducation and who make more than 50K

In [17]:
uneducated_groups = df[df["education"] != "Bachelors"]

In [19]:
uneducated_groups = uneducated_groups[uneducated_groups["education"] != "Masters"]

In [20]:
uneducated_groups = uneducated_groups[uneducated_groups["education"] != "Doctorate"]

In [21]:
lower_education_rich = round ( (len( uneducated_groups[uneducated_groups["salary"] == ">50K"]) / len(uneducated_groups)) * 100, 1)

In [22]:
uneducated_groups

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [23]:
 df.education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

 Minimum number of hours a person works per week

Percentage of the people who work the minimum number of hours per week have a salary of more than 50K

In [24]:
min_work_hours=df["hours-per-week"].min()

In [26]:
min_work_hours

1

In [27]:
slackers = df[df["hours-per-week"] == min_work_hours]

In [28]:
num_min_workers=(len(slackers[slackers["salary"]==">50K"])/len(slackers))*100

In [29]:
num_min_workers

10.0

Country has the highest percentage of people that earn >50K and what is its percentage

In [30]:
rich_percentage = (df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts())*100

In [31]:
rich_percentage

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [32]:
highest_earning_country = rich_percentage.idxmax()

In [33]:
highest_earning_country

'Iran'

In [34]:
highest_earning_country_percentage = round(rich_percentage.max(), 1)

In [35]:
highest_earning_country_percentage

41.9

 Most popular occupation for those who earn >50K in India

In [36]:
rich_indians = df[df["native-country"] == "India"]

In [37]:
rich_indians = rich_indians[rich_indians["salary"] == ">50K"]

In [38]:
top_IN_occupation = rich_indians['occupation'].value_counts().idxmax()

In [39]:
top_IN_occupation

'Prof-specialty'

#### Results

In [44]:
print("Number of each RACES:\n", race_count) 
print(" ")
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 16.44605509658794%
Percentage with higher education that earn >50K: 44.92794574738627%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: ?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty